<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- {{ ansible_managed }} -->
<plist version="1.0">
<dict>
  <key>Label</key><string>{{ keepawake_label }}</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>{{ keepawake_manager_path }}</string>
  </array>
  <key>StartInterval</key><integer>{{ keepawake_tick_seconds }}</integer>
  <key>RunAtLoad</key><true/>
  <key>StandardErrorPath</key><string>{{ keepawake_log }}</string>
</dict>
</plist>
